.pageheader.basketpage {
  margin: 0; }

.shoppingheader_title {
  color: #fff;
  font-size: 28px;
  letter-spacing: 0.1em;
  line-height: 30px;
  margin: 20px 0;
  text-transform: uppercase; }

.basket_section {
  background: #f5f4f3;
  margin: 0 0 30px 0;
  padding: 0 0 50px 0; }

.basket_section-title {
  color: #898989;
  font-size: 22px;
  letter-spacing: 0.1em;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase; }

.baskettbl {
  background: #fff;
  width: 100%; }

.baskettbl_heading .desc {
  width: 50%; }
.baskettbl_heading .qty {
  text-align: center;
  width: 10%; }
.baskettbl_heading .price, .baskettbl_heading .total {
  text-align: right;
  width: 20%; }

.baskettbl_title {
  color: #695c7a;
  display: inline-block;
  padding: 20px 15px;
  text-transform: uppercase; }
  .price .baskettbl_title, .total .baskettbl_title {
    padding: 20px 30px 20px 15px; }

.baskettbl_eventtitle {
  background: #695c7a;
  color: #fff;
  padding: 20px 30px 20px 15px;
  text-transform: uppercase; }

.baskettbl_opt .desc {
  padding: 20px 30px 20px 195px;
  position: relative; }
  .baskettbl_opt .desc .img {
    left: 15px;
    position: absolute;
    top: 20px; }
  .baskettbl_opt .desc .title {
    color: #695c7a;
    display: inline-block;
    font-size: 16px;
    padding: 0 0 5px;
    text-transform: uppercase;
    width: 100%; }
  .baskettbl_opt .desc .pitch {
    display: inline-block;
    padding: 0 0 5px 0;
    width: 100%; }
  .baskettbl_opt .desc .dates {
    display: inline-block;
    width: 100%; }
.baskettbl_opt .qty {
  padding: 20px 15px;
  text-align: center; }
.baskettbl_opt .price, .baskettbl_opt .total {
  padding: 20px 30px 20px 15px;
  text-align: right; }

.baskettbl_extras-title {
  color: #695c7a;
  font-size: 16px;
  padding: 10px 15px 0 195px;
  text-transform: uppercase; }

.bookingtbl_total {
  background: #695c7a;
  color: #fff;
  float: right;
  font-size: 16px;
  padding: 20px 30px;
  width: 300px; }

.bookingtbl_total-price {
  float: right; }

.bookingtbl_disclaimer {
  color: #695c7a;
  font-size: 16px;
  line-height: 60px;
  text-transform: uppercase; }

.shoppingbasket .billingform_half,
.shoppingbasket .billingform_full {
  display: inline-block;
  height: 50px;
  margin: 0 0 15px;
  position: relative; }
  .shoppingbasket .billingform_half .control-label,
  .shoppingbasket .billingform_full .control-label {
    color: #695c7a;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 0 0 10px;
    text-align: left;
    text-transform: uppercase;
    width: 180px; }
  .shoppingbasket .billingform_half input,
  .shoppingbasket .billingform_full input {
    border: none;
    display: inline-block;
    height: 50px; }
.shoppingbasket .billingform_half input {
  width: 310px; }
.shoppingbasket .billingform_full input {
  width: 808px; }
.shoppingbasket label.error {
  bottom: 0;
  color: red;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  left: 10px;
  position: absolute; }

.billingform_half {
  width: 494px; }

.billingform_full {
  width: 100%; }

.shoppingbasket_submit-container {
  float: right; }
  .shoppingbasket_submit-container p {
    clear: both;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 10px 0; }

.shoppingbasket_submit {
  float: right;
  height: 50px;
  padding: 0 20px;
  position: relative; }
  .shoppingbasket_submit:before {
    content: url("/assets/images/sage.png");
    font-size: 0;
    left: -100px;
    position: absolute;
    top: 0; }

/*# sourceMappingURL=_basketpage.css.map */
