@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5) {
	.sprite-blank-10-blank {
	  background-image: url(../images/sprites/sprite-png-retina.png);
	  background-position: -102px 0px;
	  width: 20px;
	  height: 20px;
	}
	.sprite-twinkling {
	  background-image: url(../images/sprites/sprite-png-retina.png);
	  background-position: 0px 0px;
	  width: 100px;
	  height: 100px;
	}
}
