.sprite-blank-10-blank {
  background-image: url(../images/sprites/sprite-png.png);
  background-position: -101px 0px;
  width: 10px;
  height: 10px;
}
.sprite-twinkling {
  background-image: url(../images/sprites/sprite-png.png);
  background-position: 0px 0px;
  width: 100px;
  height: 100px;
}
