
.no-svg  {
	display: inline-block;
	background-image: url("../images/sprites/png-sprite.png");
	background-size: 0px 0px;
}

 {
	display: inline-block;
	background-image: url("../images/sprites/svg-sprite.svg");
	background-repeat: no-repeat;
}
